<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true"
         version="3.0">

    <absolute-ordering/>

    <session-config>
        <session-timeout>360</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <servlet>
        <display-name>Midgard</display-name>
        <servlet-name>Midgard</servlet-name>
        <servlet-class>io.ktor.server.servlet.ServletApplicationEngine</servlet-class>

        <!-- path to application.conf file, required -->
        <init-param>
            <param-name>io.ktor.config</param-name>
            <param-value>application.conf</param-value>
        </init-param>

        <!-- required! -->
        <async-supported>true</async-supported>
    </servlet>

    <servlet-mapping>
        <servlet-name>Midgard</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
